/*guideline http://paletton.com/#uid=41E140kvqtChzEboawkySmAHJfY*/
html{
	background-color: #FFF273;
}

body{
	position: absolute;
	top: 15%;
	height: 70%;
	left: 10%;
	width: 80%;
	background-color: #FFF273;
	border: solid 8px #087193;
	border-radius: 35px;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	min-height: 400px;

	box-shadow: 0px 0px 20px 7px rgba(88, 162, 187, 0.5);
	-o-box-shadow: 0px 0px 20px 7px rgba(88, 162, 187, 0.5);
	-moz-box-shadow: 0px 0px 20px 7px rgba(88, 162, 187, 0.5);
	-webkit-box-shadow: 0px 0px 20px 7px rgba(88, 162, 187, 0.5);
}

@media only screen and (max-width: 480px) {
		.days {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			flex-direction: column;
		}

		.dayContainer {
			position: relative;
			-min-width: 4em;
			width: 75%;
			max-height: 40px;
			min-height: 40px;
			height: 220px;
			margin: auto;
			padding: 0;
			overflow: hidden;

			border-radius: 1em 1em 0.3em 0.3em;

			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
		}

		.dayName {
			width: 2em;
			height: 100%;
			padding: 0;
			margin: 0;
			line-height: 1.4em;
			font-weight: bold;
			text-align: left;
			transition: background-color 0.5s ease;
		}
	}

@media only screen and (min-width: 480px) {
	.days {
		margin-top: 3em;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		align-items: baseline;
		-webkit-align-items: baseline;
	}

	.dayContainer {
		position: relative;
		-min-width: 4em;
		width: 7.5%;
		margin: auto;
		padding: 0;
		overflow: hidden;

		border-radius: 1em 1em 0.3em 0.3em;

		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;

		height: 20em;
	}

	.dayName {
		display: block;
		width: 100%;
		height: 2em;
		padding: 0;
		margin: 0;
		line-height: 2em;
		font-weight: bold;
		text-align: left;
		transition: background-color 0.5s ease;
	}
}



.earnings:hover {
	background-color: rgba(255, 242, 115, 0.9);
}

.offday {
	opacity: 0.5;
	font-style: italic;
}

.lock {
	z-index: 1;
	position: absolute;
	padding: 0;
	top: 0.3em;
	right: 0.3em;
	height: 1em;
	width: 1em;
	height: 20px;
	width: 20px;
	opacity: 1.0;
}

.earnings {
	text-align: center;
	font-size: 600;
	font-weight: bold;

	height: 2em;
	line-height: 2em;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;

	transition: background-color 0.5s ease;
}

.goal {
	line-height: 2em;
	text-align: right;
}

.dayName.neutral {
	background-color: rgba(0, 0, 0, 0.1);
	color: #FFF273;
}

.dayName.good{
	background-color: #7F7400;
	color: #FFEE3E;
}

.dayName:hover {
	background-color: rgba(127, 116, 0, 0.5);
}


.done.neutral {
	flex-grow: 0.3;
	background-color: #045570;
}

.done.good {
	flex-grow: 0.7;
	background-color: #58A2BB;
}

.goal.neutral {
	flex-grow: 0.3;
	background-color: #7F7400;
	color: #ECD704;
}

.goal.good{
	flex-grow: 0.7;
	background-color: #087193;
	color: #00000;
}

.separator {
	width: 100%;
	height: 0.66em;
	background-color: rgba(127, 116, 0, 0.8);
}

.separator.neutral {
	background-color: #087193;
}

.separator.good {
	background-color: #2C83A0;
}

.past, .future {
	opacity: 0.3;
	transform: scaleY(0.8);
}

.dayContainer.present.neutral {
	box-shadow: 0px 0px 7px 3px #FF0000;
	-o-box-shadow: 0px 0px 7px 3px #4444FF;
	-moz-box-shadow: 0px 0px 7px 3px #4444FF;
	-webkit-box-shadow: 0px 0px 7px 3px #4444FF;
}

.dayContainer.present.almost {
	box-shadow: 0px 0px 7px 3px #FFA500;
	-o-box-shadow: 0px 0px 7px 3px #FFA500;
	-moz-box-shadow: 0px 0px 7px 3px #FFA500;
	-webkit-box-shadow: 0px 0px 7px 3px #FFA500;
}

.dayContainer.present.good {
	box-shadow: 0px 0px 7px 3px #FF0000;
	-o-box-shadow: 0px 0px 7px 3px #00FF00;
	-moz-box-shadow: 0px 0px 7px 3px #00FF00;
	-webkit-box-shadow: 0px 0px 7px 3px #00FF00;
}

.present.good.goal {
	flex-grow: 0.75;
	background-color: #FFEE3E;
}

.present.good.done {
	flex-grow: 0.25;
	background-color: #ECD704;
}

.present.neutral.goal {
	flex-grow: 0.55;
	background-color: #FFEE3E;
}

.present.neutral.done {
	flex-grow: 0.45;
	background-color: #ECD704;
}

.present.almost.goal {
	flex-grow: 0.1;
	background-color: #FFA500;
}

.present.almost.done {
	flex-grow: 0.9;
	background-color: #ECD704;
}
